@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html{
  overflow: hidden;
}

:root{
  --verde-claro: #39A900;
  --verde-oscuro: #007832;
  --gris-panel: #F6F6F6;
  --gris-letras: #777777;
  --gris-letras-oscuras: #555555;
  --gris-claro: #EEEEEE;
  --gris-oscuro: #DDDDDD;
  --blanco: #FFFFFF;
  --negro: #000000;
}

body{
  background-color: var(--blanco);
}

.content{
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 50px;
  grid-template-columns: 1fr;
}

.home{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1.2fr 1fr;
  background-image: linear-gradient(25deg,var(--blanco), var(--verde-claro)75%); 
  overflow: hidden;
  padding: 20px;
}

.home--signup {
  background-image: linear-gradient(25deg, var(--blanco), var(--verde-claro) 75%), linear-gradient(hsla(0, 0%, 0%, 0.4), hsla(0, 0%, 0%, 0.4));
  background-blend-mode: color;
}

.home__intro{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home__img-cajas{
  display: flex;
  align-items: center;
  min-width: 450px;
  max-width: 450px;
}
.home__img-cajas > img{
  min-height: 510px;
  width: 100%;
  filter: drop-shadow(-25px 15px 15px #00000080);
}

.home__img-cajas--left {
  transform: translateX(-20%);
}
.home__img-cajas--right{
  position: absolute;
  bottom: -5%;
  right: -5%;  
}

.home__img-cajas--right > img{
  filter: brightness(80%) drop-shadow(-25px 15px 15px #00000080) blur(1.5px);
  transform: scaleX(-1);
}

.home__title{
  display: flex;
  flex-direction: column;
  height: 500px;
  min-width: 450px;
  max-width: 450px;
  row-gap: 60px;
}

.home__description{
  color: var(--blanco);
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 600;
}

.home__signin{  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.home__signup{
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__logos{
  display: flex;
  height: 120px;
  width: 260px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
}

.separacion{
  border: none;
  border-radius: 5px;
  background-color: var(--blanco);
  width: 3px;
  height: 110px;
}

.home__logos > img{
  max-height: 100px;
}

.form{
  width: 400px;
  height: 400px;
  background-color: var(--gris-panel);
  border-radius: 40px;
  box-shadow: 0 0 10px 0px #00000047;
  padding: 20px 20px;

  display: grid;
  grid-template-rows: auto 3fr auto;
  align-items: center;
}

.form h2{
  font-weight: 800;
}

.form--signup{
  width: 650px;
  height: 550px;
}

.form__header{
  display: flex;
  justify-content: center;
}

.subtitulo{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--verde-oscuro);
}

.form__body{
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  height: 100%;
  justify-content: center;
  gap:20px;
}

.form__control{
  padding-top: 10px;
}

.form--signup .form__body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 0;
  column-gap: 25px;
}

.input{
  display: flex;
  width: 100%;
  height: 40px;
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--gris-letras);
  border: none;
  outline: none;
  border: 2px solid var(--verde-claro);
  border-radius: 15px;
  padding: 0 15px 0;
  transition: 0.2s;
}

.input--select{
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('Img/arrow-down-s-line.svg');
  background-repeat: no-repeat;
  background-position: right 0.4rem center;
  background-size: 30px;
  padding-right: 40px;
}

.form--signin .input--select{
  margin-bottom: 10px;
}

.input:focus{
  box-shadow: 0 0 4px 0 var(--verde-claro);
}

.form__action{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
  width: max-content;
  height: max-content;
  margin: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--blanco);
  border: none;
  border-radius: 15px;
  background-color: var(--verde-oscuro);
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  padding: 10px 12px;
  gap: 10px;
}
.button:hover{
  box-shadow: 0 2px 5px 0 #0000004d;
}
.link{
  font-weight: 500;
  font-size: 1.1rem;
  color: var(--verde-oscuro);
  transition: 0.2s;
}
.link:hover{
  font-weight: 600;
}

.footer{
  height: 100%;
  width: 100%;
  background-color: var(--verde-oscuro);
  display: flex;
  align-items: center;
  position: relative;
}

.footer__copyright{
  display: flex;
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.footer__copyright > p{
  color: var(--blanco);
}

.footer__logo{
  display: flex;
  height: 35px;
  width: auto;
  position: absolute;
  right: 1%;
}

.footer__logo > img {
  display: flex;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.error{
  position: relative;
}

.form__control.error::after{
  content: var(--error-content);
  position: absolute;
  font-size: 12px;
  color: #c50606;
  font-weight: bold;
  right: 10px;
  bottom: -18px;
}

.texto-advertencia {
  display: flex;
  
  justify-content: end;
  margin: 0 10px 0;  
  text-align: right;
}


/* INVENTARIO */

.header{
  display: flex;
  align-items: center;
  padding: 0 10px;
  padding-right: 80px;
  width: 100%;
  position: relative;
  gap: 30px;  
}

.buscador{
  display: flex;
  width: 100%;
  height: 40px;
  background-color: var(--gris-panel);
  border: none;
  outline: none;
  border: 2px solid var(--verde-claro);
  border-radius: 20px;
  padding: 0 15px 0;
  transition: 0.2s;
  filter: drop-shadow(0px 2px 2px #00000047);
  align-items: center;
  gap: 10px;
}

.buscador .icon{
  color: var(--verde-oscuro);
  font-size: 1.5rem;
}

.buscador:focus-within{
  box-shadow: 0 0 3px 0 var(--verde-claro);
}
.buscador input{
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  color: var(--gris-letras);
}
.content--ui{
  padding: 10px 25px 15px;
  grid-template-rows: 100px 1fr;
}

.header__logo{
  display: flex;
  width: auto;
  height: 70px;
}

.titulo{
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--verde-oscuro);
}

.separacion--verde{
  background-color: var(--verde-oscuro);
  height: 70px;
}

/* MENU DE USUARIO */

.user{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  max-width: 40px;
  max-height: 40px;
  /* min-width: 40px;
  min-height: 40px; */
  background-color: var(--blanco);
  border-radius: 50px;
  filter: drop-shadow(0 2px 2px #00000047);
  cursor: pointer;
  color: var(--verde-oscuro);
  font-size: 50px;
}

.user-menu{
  width: 500px;
  height: 100vh;
  background-color: var(--verde-claro);
  position: absolute;
  filter: drop-shadow(-4px 0px 8px #00000047);
  top: -10px;
  right: -700px;
  border-radius: 50px 0 0 50px;
  z-index: 100;
  transition: 0.5s;
  padding: 30px 20px;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.menu-activar{
  display: none;
}

.menu-activar:checked{
  display: inline;
  appearance: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: -10px;
  left: -25px;
  background-color: hsla(0, 0%, 0%, 0.2);
  z-index: 99;
}
.menu-activar:checked ~ .user-menu{  
  /* width: 500px; */
  right: -25px;
}

.user-menu__header{
  display: flex;
  width: 100%;
  gap: 20px;
  padding-left: 15px;
}

.user-menu__user-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 120px;
  max-height: 120px;
  background-color: var(--verde-claro);
  border-radius: 100px;
  filter: drop-shadow(0 3px 3px #00000047);
  color: var(--blanco);
  font-size: 150px;
}

.user-menu__user-icon path{
  stroke-width: 1%;
}

.subtitulo--blanco{
  color: var(--blanco);
}

.user-menu__rol{
  color: var(--blanco);
  margin-top: 10px;
}

.user-menu__separacion{
  margin: 15px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.editar-perfil{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 100px;
  color: #Ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  gap: 8px;
}

.editar-perfil i{
  font-size: 1.3rem;
}

.separacion--horizontal{
  width: 100%;
  height: 3px;
}

.user-menu__content{
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.user-menu__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-menu__footer a{
  text-decoration: none;
  display: flex;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.user-menu__footer a .icon{
  font-size: 3rem;
}

/* SWITCH  */

.switch {
  position: relative;
  display: flex;
  width: 80px;
  height: 35px;
  align-items: center;
  box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.2) inset;
  border-radius: 34px;
  background-color: var(--verde-oscuro);
  transition: 0.4s;
  cursor: pointer;
}

.slider {
  position: absolute;

  cursor: pointer;
  height: 30px;
  width: 30px;
  left: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 0 3px #00000080;
  transition: 0.4s;
  border-radius: 50%;
  z-index: 2;
}

.switch::after,
.switch::before{
  position: absolute;
  font-size: 1.4rem;
  top: 50%;
  transform: translateY(-54%);
}

.switch::after{
  content: "☾⋆";
  left: 12px;
  color: var(--verde-oscuro);
}
.switch::before{
  content: "☀︎";
  right: 12px;
  color: var(--verde-claro);
}

input:checked + .switch{
  background-color: var(--verde-claro);
}

input:checked + .switch .slider{
  transform: translateX(43px)
  
}
/* DASHBOARD  */

::-webkit-scrollbar {
  width:8px;
  height: 8px;
}
::-webkit-scrollbar-thumb{
  background-color: transparent;
  border-radius: 5px;
}

.dashboard{
  background-color: var(--gris-panel);
  padding: 30px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 2px 6px 2px #00000020;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.dashboard__header{
  margin: 0 15px;
}
.dashboard__details{
  margin: 10px 0 5px;
}
.dashboard__content{
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
}

.dashboard__content:hover::-webkit-scrollbar-thumb{
  background-color: var(--gris-claro);
}

/* CARDS */

.card{
  width: 350px;
  height: 350px;
  background-color: var(--blanco);
  margin: 20px;
  box-shadow: 0 2px 8px 0 #00000026;
  border-radius: 40px;
  display: grid;
  padding: 20px;
  grid-template-rows: auto 1fr;
}

.new-card{
  width: 350px;
  height: 350px;
  background-color: var(--gris-claro);
  margin: 20px;
  border-radius: 40px;
  transition: 0.5s;
  position: relative;
  cursor: pointer;
}
.new-card::before{
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  color: var(--verde-oscuro);
  font-weight: bold;
  font-family: 'Courier New', Courier;
}
.new-card:hover{
  background-color: var(--gris-oscuro);
}
.new-card--large, .card--large{
  height: 450px;
}

.card__header{
  height: auto;
  border-bottom: 2px solid var(--verde-claro);
  color: var(--verde-claro);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-bottom: 15px;
  flex-direction: column;
}
.card__header > h3{
  font-size: 1.6rem;
  font-weight: 600;
}

.card__content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 5px;
}

.card__img{
  width: 95%;
  height: 200px;
  background-color: var(--gris-oscuro);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.card__img img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
}

.card__details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-details{
  font-size: 0.9rem;
  font-weight: 550;
  color: var(--gris-letras);
}

.text-details--bold{
  font-weight: 700;
  color: var(--gris-letras-oscuras);
}

.text-details--white{
  color: #FFFFFF;
  font-size: 1.1rem;
}

/* NAVEGABILIDAD ENTRE PANELES*/

.dashboard--navegation{
  grid-template-rows: auto auto 1fr;
  padding: 0;
  padding-bottom: 30px;
}
.dashboard--navegation .dashboard__content,
.dashboard--navegation .dashboard__header{
  padding: 0 30px;
}
.dashboard--navegation .dashboard__header{
  padding-top: 15px;
}

.nav{  
  display: flex;
  height: 40px;
  background-color: var(--gris-oscuro);
  overflow: hidden;
}
.nav__list{
  display: flex;
  list-style:none;
}

.nav__item{
  width: 180px;
  display: flex;
  align-items: center;
  padding: 4px 6px;
}

.nav__item a{
  width: 100%;
  height: 100%;
  color:var(--gris-letras);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s;
}

.nav__item a:hover{
  border-radius: 15px;
  background-color: var(--gris-claro);
}

.nav__item--selected{
  border-radius: 20px 20px 0 0;
  background-color: var(--gris-panel);
  pointer-events: none;
}

/* DASHBOARD DE DETALLES */

.dashboard--details-section{
  display: grid;
  grid-template-rows: auto 1fr 100px;
}

.dashboard--details-section .dashboard__content{
  flex-direction: column;
}

.dashboard__title--separacion{
  margin: 25px 0;
  font-weight: 550;
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 30px;
}

.dashboard__title--separacion::after,
.dashboard__title--separacion::before{
  content: "";
  background-color: var(--verde-oscuro);
  width: 100%;
  height: 3px;
}
.dashboard__title--separacion::before{
  width: 75px;
}
.dashboard__row{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 10px 0;
}
.text-details--medium-sized{
  font-size: 1.2rem;
}

.dashboard__row .text-details--bold{
  font-weight: 600;
}

.acces-code{
  margin: 10px 0;
  border: 2px solid var(--verde-claro);
  border-radius: 20px;
  padding: 5px 50px
}

.acces-code .text-details{
  color: var(--verde-claro);
}

.dashboard__actions{
  padding: 0 50px;
  display: flex;
  gap: 20px;
  position: relative;
}

.dashboard--details-section .button{
  font-size: 1rem;
  padding: 8px 12px;  
}

.button .icon{
  font-size: 1.2rem;
}

.button--white{
  background-color: var(--blanco);
  color: var(--gris-letras);
  box-shadow: 0 2px 2px #0000004d;
}
.dashboard__actions .button--white{
  position: absolute;
  right: 50px;
}

/* TABLA */

.table{
  width: 100%;
  height: 100%;
  background-color: var(--gris-claro);
  border-collapse: collapse;
  appearance: none;
}

.table__head{
  background-color: var(--gris-oscuro);
  height: 60px;
  width: 100%;
}


.table__cell{
  text-align: center;
  height: 50px;
}
